<!DOCTYPE html>
<html>
<head>
    <title>Formulari</title>
</head>
<body>
<h1>Demana'ns el teu viatget!</h1>

    {% if error %}
        <p style="color: red">{{ error }}</p>
        <br>
    {% endif %}

<form method="post" action="">

    <h2>Dades generals del viatge</h2>

    <!-- ciutat ini  -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Ciutat d'inici:
        </label>
        <select name="ciutatIni" required>
            <option value="Barcelona" >Barcelona</option>
            <option value="Berlin" >Berlín</option>
        </select>
    </div>
    
    <br/>
    
    <!-- desti -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Ciutat de destí:
        </label>
        <select name="ciutatFi" required>
            <option value="Berlin" >Berlín</option>
            <option value="Barcelona" >Barcelona</option>
        </select>
    </div>
    <br/>
    
    <!-- data ini -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Data d'inici:
        </label>
        <input type="date" name="dataIni" required/>
    </div>
    <br/>

    <!-- data fi -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Data final: 
        </label>
        <input type="date" name="dataFi" required/>
    </div>
    
    <br/>
    
    <!-- presupost -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Pressupost:
        </label>
        <input type="number" min="0" step="0.01" name="pressupost" required/>
    </div>
    <br/>

    <h2>Sobre l'allotjament</h2>

    <!-- centric -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Vols que sigui cèntric?:
        </label>
        <input type="checkbox" name="centric" style="margin-top: 5px;">
    </div>
    <br/>

    <h2>Sobre les activitats</h2>

    <h3>Quin tipus d'activitats t'agradaria fer?</h3>

    <!-- res, algo, normal i molt-->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Lúdica
        </label>
        <select name="ludica" required>
            <option value="0" >Preferiria no fer-ne cap</option>
            <option value="1" >M'agradaria fer-ne algunna</option>
            <option value="2" >Estaria bé fer-ne unes quantes</option>
            <option value="3" >En vull fer moltes!</option>
        </select>
    </div>
    <br/>

    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Festiva
        </label>
        <select name="festiva" required>
            <option value="0" >Preferiria no fer-ne cap</option>
            <option value="1" >M'agradaria fer-ne algunna</option>
            <option value="2" >Estaria bé fer-ne unes quantes</option>
            <option value="3" >En vull fer moltes!</option>
        </select>
    </div>
    <br/>

    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Cultural
        </label>
        <select name="cultural" required>
            <option value="0" >Preferiria no fer-ne cap</option>
            <option value="1" >M'agradaria fer-ne algunna</option>
            <option value="2" >Estaria bé fer-ne unes quantes</option>
            <option value="3" >En vull fer moltes!</option>
        </select>
    </div>
    <br/>

    <h3>En quines franges horàries vols fer activitats</h3>

    <!-- mati -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Matí:
        </label>
        <input type="checkbox" name="mati" style="margin-top: 5px;">
    </div>
    <br/>

    <!-- tarda -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Tarda:
        </label>
        <input type="checkbox" name="tarda" style="margin-top: 5px;">
    </div>
    <br/>

    <!-- nit -->
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Nit:
        </label>
        <input type="checkbox" name="nit" style="margin-top: 5px;">
    </div>
    <br/>



    <p>
        <button type="submit">Planificar!</button>
    </p>
</form>
</body>
</html>