<!DOCTYPE html>
<html>
<head>
    <title>Resultat</title>
</head>
<body>
    <h1>El resultat obtingut es el següent: </h1>

    {% if paquet.dataIni != paquet.dataFi %}
    <h2>Dades allotjament</h2>
    <ul>
        <li>Nom: {{ paquet.allotjament.nom }}</li>
        <li>Centric: {{ paquet.allotjament.centric }}</li>
        <li>Preu: {{ paquet.allotjament.preu }}</li>
    </ul>
    {% else %}
     <ul>
        <li> No et cal allotjament !! </li>
     </ul>
    {% endif %}

    <br><br>

    <h2>Dades del transport</h2>
    <h3>Transport d'anada</h3>
    <ul>
        <li>Tipus: {{ paquet.transportAnada.tipus }}</li>
        <li>Companyia: {{ paquet.transportAnada.companyia }}</li>
        <li>Codi: {{ paquet.transportAnada.codi }}</li>
        <li>Preu: {{ paquet.transportAnada.preu }}</li>
    </ul>

    <br>

    <h3>Transport de tornada</h3>
    <ul>
        <li>Tipus: {{ paquet.transportTornada.tipus }}</li>
        <li>Companyia: {{ paquet.transportTornada.companyia }}</li>
        <li>Codi: {{ paquet.transportTornada.codi }}</li>
        <li>Preu: {{ paquet.transportTornada.preu }}</li>
    </ul>

    <br><br>

    <h2>Proposta d'activitats</h2>
    {% if paquet.teActivitats %}
    <table>
        <tr>
            <th>Data</th>
            {% if paquet.mati %} <th>Matí</th> {% endif %}
            {% if paquet.tarda %} <th>Tarda</th> {% endif %}
            {% if paquet.nit %} <th>Nit</th> {% endif %}
        </tr>
        {% for data, actsDia in paquet.activitats.items() %}
            <tr>
                <td>{{ data }}</td>
                {% if paquet.mati %}
                    {% if actsDia.mati.tipus == 'ludica' %}
                        <td bgcolor="#f08080">{{ actsDia.mati.nom }}</td>
                    {% elif actsDia.mati.tipus == 'festiva' %}
                        <td bgcolor="#00ffff">{{ actsDia.mati.nom }}</td>
                    {% else %}
                        <td bgcolor="#ba55d3">{{ actsDia.mati.nom }}</td>
                    {% endif %}
                {% endif %}
                {% if paquet.tarda %}
                    {% if actsDia.tarda.tipus == 'ludica' %}
                        <td bgcolor="#f08080">{{ actsDia.tarda.nom }}</td>
                    {% elif actsDia.tarda.tipus == 'festiva' %}
                        <td bgcolor="#00ffff">{{ actsDia.tarda.nom }}</td>
                    {% else %}
                        <td bgcolor="#ba55d3">{{ actsDia.tarda.nom }}</td>
                    {% endif %}
                {% endif %}
                {% if paquet.nit %}
                    {% if actsDia.nit.tipus == 'ludica' %}
                        <td bgcolor="#f08080">{{ actsDia.nit.nom }}</td>
                    {% elif actsDia.nit.tipus == 'festiva' %}
                        <td bgcolor="#00ffff">{{ actsDia.nit.nom }}</td>
                    {% else %}
                        <td bgcolor="#ba55d3">{{ actsDia.nit.nom }}</td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <p>Llegenda</p>
    <table>
        <tr>
            <th bgcolor="#f08080">Activitats lúdiques</th>
        </tr>
        <tr>
            <th bgcolor="#00ffff">Activitats festives</th>
        </tr>
        <tr>
            <th bgcolor="#ba55d3">Activitats culturals</th>
        </tr>
    </table>
    {% else %}
    <p>No has demanat cap activitat</p>
    {% endif %}

    <br><br>

    <h2>Pagaments</h2>
    <form method="post" action="">
        <div style="display: flex; justify-content: space-between; width: 200px;">
            <label>
                Numero Targeta:
            </label>
            <input type="number" name="numTargeta" required/>
        </div>
        </br>
    <div style="display: flex; justify-content: space-between; width: 200px;">
            <label>
                Tipus de Targeta:
            </label>
            <select name="tipusTargeta" required>
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
            </select>
        </div>
        </br>
        <div style="display: flex; justify-content: space-between; width: 200px;">
            <p><b>Preu: {{ paquet.preu }}</b></p>
        </div>
        </br>
        <input type="hidden" name="action" value="pagar"/>
        <input type="hidden" name="preu" value="{{ paquet.preu }}"/>
        <div>
            <button type="submit">Pagar</button>
        </div>
    </form>
    <br><br>

</body>
</html>