<!DOCTYPE html>
<html>
<head>
    <title>Resultat</title>
</head>
<body>
    <h1>El resultat obtingut es el següent: </h1>

    <p>Dades allotjament</p>
    <ul>
        <li>Nom: {{ paquet.allotjament.nom }}</li>
        <li>Preu: {{ paquet.allotjament.preu }}</li>
        <li>Centric: {{ paquet.allotjament.centric }}</li>
    </ul>

    <p>Vol d'anada: {{volAnada}}</p>
    <p>Vol de tornada: {{volTornada}}</p>

    <div>
        <ul>
            {%  for act in activitats %}
            <li>
                {{act}}
            </li>
            {% endfor %}
        </ul>
    </div>

<form method="post" action="">
    <h3>Pagament:</h3>
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Numero Targeta:
        </label>
        <input type="number" name="numTargeta" required/>
    </div>
    </br>
<div style="display: flex; justify-content: space-between; width: 200px;">
        <label>
            Tipus de Targeta:
        </label>
        <select name="tipusTargeta" required>
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
        </select>
    </div>
    </br>
    <div style="display: flex; justify-content: space-between; width: 200px;">
        <p>Preu: {{preu}}</p>
    </div>
    </br>
    <input type="hidden" name="action" value="pagar"/>
    <div>
        <button type="submit">Pagar</button>
    </div>
</form>
</body>
</html>